<div class="container">
  <div class="masthead">
    {{view App.MenuBarView}}
  </div>
  {{outlet}}
  <hr>
  <div class="copyright">© 2013 Xebia, par Mathieu MINH et Thomas Guérin</div>
</div>
<div class="footer"></div>