<div class="container">
  <div class="masthead">
    <h3>Xebia : Atelier Google Play Services</h3>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
			<li><a href="#">Application</a></li>            
            <li><a href="#">Tutorial</a></li>
            <li><a href="#">Github</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div><!-- /.navbar -->
  </div>

  <!-- Jumbotron -->
  <div class="jumbotron">
  	<img src="/assets/images/GooglePlayServices.png"></img>
  </div>
  <hr>
  <div class="container marketing">
  	<div class="row-fluid">
	    <div class="span6">
	      <img data-src="holder.js/140x140" alt="200x140" style="width: 200px; height: 140px;" src="/assets/images/gps-play_games_logo.png"></img>
	      <h2>Games</h2>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	      <p><a class="btn" href="#">View details »</a></p>
	    </div>
	    <div class="span6">
	      <img data-src="holder.js/140x140" alt="200x140" style="width: 200px; height: 140px;" src="/assets/images/gps-location.png"></img>
	      <h2>Location</h2>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	      <p><a class="btn" href="#">View details »</a></p>
	   </div>
	</div>
	<hr>
	<div class="row-fluid">
	    <div class="span6">
	       <img data-src="holder.js/140x140" alt="200x140" style="width: 200px; height: 140px;" src="/assets/images/gps-googleplus.png"></img>
	      <h2>Google +</h2>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	      <p><a class="btn" href="#">View details »</a></p>
	    </div>
	    <div class="span6">
	       <img data-src="holder.js/140x140" alt="200x140" style="width: 200px; height: 140px;" src="/assets/images/gps-maps.png"></img>
	      <h2>Google Maps</h2>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	      <p><a class="btn" href="#">View details »</a></p>
	   </div>
	</div>
	<hr>
	<div class="row-fluid">
	    <div class="span6">
	       <img data-src="holder.js/140x140" alt="200x140" style="width: 200px; height: 140px;" src="/assets/images/android_lock.png"></img>
	      <h2>Autorization</h2>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	      <p><a class="btn" href="#">View details »</a></p>
	    </div>
	</div>
  </div>
  <hr>
  <div class="copyright">© 2013 Xebia, par Mathieu MINH et Thomas Guérin</div>
</div> <!-- /container -->
<div class="footer"></div>