  <h2>Bienvenue à l'atelier Xebia sur les Google Play Services</h2>
  <!-- Jumbotron -->
  <div class="jumbotron">
  	<a href="http://developer.android.com/google/play-services/index.html"><img src="/assets/images/GooglePlayServices.png"></img></a>
  </div>
  <hr>
  <div class="container marketing">
  	<div class="row-fluid">
	    <div class="span6">
	      <img data-src="holder.js/140x140" alt="200x140" style="width: 200px; height: 140px;" src="/assets/images/gps-play_games_logo.png"></img>
	      <h2>Games</h2>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	      <p><a class="btn" href="http://developer.android.com/google/play-services/games.html">Plus »</a></p>
	    </div>
	    <div class="span6">
	      <img data-src="holder.js/140x140" alt="200x140" style="width: 200px; height: 140px;" src="/assets/images/gps-location.png"></img>
	      <h2>Location</h2>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	      <p><a class="btn" href="http://developer.android.com/google/play-services/location.html">Plus »</a></p>
	   </div>
	</div>
	<hr>
	<div class="row-fluid">
	    <div class="span6">
	       <img data-src="holder.js/140x140" alt="200x140" style="width: 200px; height: 140px;" src="/assets/images/gps-googleplus.png"></img>
	      <h2>Google +</h2>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	      <p><a class="btn" href="http://developer.android.com/google/play-services/plus.html">Plus »</a></p>
	    </div>
	    <div class="span6">
	       <img data-src="holder.js/140x140" alt="200x140" style="width: 200px; height: 140px;" src="/assets/images/gps-maps.png"></img>
	      <h2>Google Maps</h2>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	      <p><a class="btn" href="http://developer.android.com/google/play-services/maps.html">Plus »</a></p>
	   </div>
	</div>
	<hr>
	<div class="row-fluid">
	    <div class="span6">
	       <img data-src="holder.js/140x140" alt="200x140" style="width: 200px; height: 140px;" src="/assets/images/android_lock.png"></img>
	      <h2>Autorization</h2>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	      <p><a class="btn" href="http://developer.android.com/google/play-services/auth.html">Plus »</a></p>
	    </div>
	</div>
  </div>