 <div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li id="homeItem" class="active"><a class="cursor-pointer" {{action gotoHome target="view"}}>Home</a></li>
		<li id="workshopAppItem"><a class="cursor-pointer" {{action gotoWorkshopApp target="view"}}>Application</a></li>            
        <li id="tutorialItem"><a class="cursor-pointer" {{action gotoTutorial target="view"}}>Tutorial</a></li>
        <li><a href="https://github.com/tguerin/workshop-android-play-services" target="_blank">Github</a></li>
        <li><a href="http://blog.xebia.fr/" target="_blank">Blog Xebia</a></li>
      </ul>
    </div>
  </div>
</div>