<h2>Evénement : Atelier Android</h2>
<br>
<div class="row-fluid">
    <div class="span6">
    	{{view App.MapView}}
    </div>
    <div class="span6">
    	<div class="form-horizontal" style="margin-top:-32px;">
			<fieldset>
				<legend><b>Broadcaster</b></legend>
				<div class="control-group">
					<label class="control-label" for="message">Messsage</label>
					<div class="controls">
						<input type="text" class="input-large" placeholder="Tapez votre message...">
					</div>
				</div>
				<div class="form-actions" style="padding-left:40%;">
					<button id="send" class="btn btn-primary">Envoyer</button>
					<button id="cancel" class="btn">Annuler</button>
				</div>
			</fieldset>
		</div>
    </div>
</div>
<br>